<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <title>URL shorter</title>
  </head>
  <body>
    <div class="container">
        <div class="card">
            <div class="text">Your Link: </div>
            <% if(alias) { %>
            <div class="margin-left">
              <a class="text-link" target='_blank' href="http://localhost:3000/<%=alias%>"
                > http://localhost:3000/<%=alias%></a
              >
            </div>
            <% } %>
        </div>
        
    
        <form method="post" action="/">
          <input class="input" type="text" name="url" placeholder="Enter URL" />
          <button class="button" type="submit">Shorten</button>
        </form>
    </div>
   
  </body>
</html>
